<!DOCTYPE html>
<html lang="en">
<head>
  <title>Food, LLC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed visible-xs"
              data-toggle="collapse"
              data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Food, LLC</a>
    </div>

    <div class="collapse navbar-collapse visible-xs" id="myNavbar">
      <ul class="nav navbar-nav text-center">
        <li><a href="#">Chicken</a></li>
        <li><a href="#">Beef</a></li>
        <li><a href="#">Sushi</a></li>
      </ul>
    </div>

  </div>
</nav>

<h1 class="text-center">Our Menu</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 center" style="height:1000px; padding:20px;">
      <h2>Menu Details</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Repeat content or keep height large to ensure scrolling.
      </p>
    </div>
  </div>
</div>

</body>
</html>
